*{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6rem;
    height: 100%;
    position: relative;
}

.container__top{
    display: flex;
    margin-bottom: 10rem;
}

.title{
    color: hsl(300, 43%, 22%);
    width: 45%;  
}

.title__description{
    font-size: 45px;
    line-height: 3rem;
}

.title__continue-description{
    color: hsl(300, 43%, 22%);
    font-weight: normal;
    line-height: 1.5rem;
    margin-top: 1rem;
}

.rated{
    border: 2px solid red;
    position: absolute;
    right: 10rem;
}

.quote{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    margin-top: 27rem;
    height: 13rem;
    width: 90%;
    
}

.quote :nth-child(1){
    align-self: flex-start;
}

.quote :nth-child(3){
    align-self: flex-end;
}

.quote__card{
    background: hsl(300, 43%, 22%);
    border-radius: 6px;
    color: hsl(0, 0%, 100%);
    height: 8rem;
    width: 22rem;
    padding: 2rem;
}


